.everything {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70vw;
    max-width: 520px;
    padding: 15vh 0 60px 0;
    margin: auto;
}



html,
body {
    height: 100%;
    margin: 0;
    background-color: #eaeaea;
}

img {
    display: block;
    max-width: 100%;
}

a {
    width: auto;
    text-decoration: none;
    color: inherit;
}


.icon-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    margin-top: 40px;
}

.icon {
    display: inline-block;
    width: 46px;
    margin: 8px;
    filter: saturate(10%) brightness(80%);
}

.icon:hover {
    opacity: 0.6;

}

.header {
    font-size: 1.8em;
    font-family: 'Playfair Display', serif;
    letter-spacing: 0.4em;
    margin-bottom: 20px;
}

.subheader {
    font-size: 0.9em;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    letter-spacing: 0.3em;
    margin-bottom: 60px;
}

.intro {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    text-align: left;
    margin-bottom: 50px;


}

.button {
    display: block;
    width: 260px;
    background-color: #FFCE75;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 1.6px;
    line-height: 170%;
    text-transform: uppercase;
    text-decoration: none;
    color: #746F66;
    padding: 18px;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 16px;
    transition: 0.3s;
}


.button:hover {
    opacity: 0.6;
}

.discord-link {
    text-decoration: none;
    color: palevioletred;
}

.discord-link:hover {
    color: cornflowerblue;
}

.gallery {
    width: 80%;
    margin: 40px auto 60px auto;
}


.gutter-sizer {
    width: 2.5vmax;
}

.gallery-item {
    width: 31%;
    float: left;
    overflow: hidden;
    margin-bottom: 2.5vmax;
}

@media screen and (min-width: 561px) and (max-width: 1080px) {
    .gallery-item {
        width: 46%;
    }
}

@media screen and (max-width: 560px) {
    .gallery-item {
        width: 100%;
    }
}

div.mfp-container {
    cursor: pointer;
}

.mfp-bottom-bar {
    margin: 0;
}

div.mfp-title {
    text-align: center;
    padding-top: 16px;
    padding-bottom: 80px;
    width: 100%;
    max-width: 600px;
    margin: auto;
}

.nav {
    display: block;
    width: 140px;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    padding: 12px;
    margin: 30px auto;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 16px;

}

.footer {
    height: 15vh;
}
